.vscode/
.rootrc
.sl*_gcc*
temp_gccflags.c
*.consign
*.root
AutoDict*.cxx
AutoDict*.h

submit/*/
.vscode/
.al9*

Local*/
*.zip
sched*
*.dataset
*.session.xml
*.log
*.err
*.out


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pcm
*.d
*dict.cxx
*dict.h
*dictUmbrella.h
*dictContent.h

